<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_tag 'images/favicon.ico' %>
    <title><%= current_page.data.title || "Binance API Documentation" %></title>
    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <header>
      <div class="flex_box">
        <%= image_tag "logo.svg", class: 'logo' %>
        <div class="nav_box">
          <span class="nav_cell" style="display: none">
            <a href="javascript:;" class="nav_first">v1<i class="icon_nav"></i></a>
            //<ul class="nav_ul">
            //  <li>
            //    <a href="/apidocs/spot/en/" id="v1_url">v1</a>
            //  </li>
            //  <li>
            //    <a href="/apidocs/spot/en/" id="v2_url">v2</a>
            //  </li>
            </ul>
          </span>
          <span class="nav_cell nav_tab">
            <a href="/apidocs/spot/en/" id="btn_spot">现货/杠杆</a>
          </span>
          <span class="nav_cell nav_tab">
            <a href="/apidocs/futures/en/" id="btn_dm">合约</a>
          </span>
          <span class="nav_cell nav_tab">
            <a href="/apidocs/testnet/en/" id="btn_tn">合约testnet</a>
          </span>
        </div>
      </div>
      <a href="/apidocs/spot/cn/" class="lang" id="lang_box">简体中文</a>
    </header>
    <div class="toc-wrapper">
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <script>
      const lang_btn = document.getElementById('lang_box');
      const btn_spot = document.getElementById('btn_spot');
      const btn_dm = document.getElementById('btn_dm');
      const btn_tn = document.getElementById('btn_tn');
      const v1_url = document.getElementById('v1_url');
      //const v2_url = document.getElementById('v2_url');
      const url = GetUrlRelativePath();
      if(url.indexOf('cn') != -1){
        // for the Chinese Language env.
        lang_btn.innerHTML = 'English';
        btn_spot.innerHTML = '现货/杠杆';
        btn_dm.innerHTML = '合约';
        btn_tn.innerHTML = '合约testnet API';
        lang_btn.href = url.replace('cn/', 'en/');
        btn_spot.href = btn_spot.href.replace('en/', 'cn/');
        btn_dm.href = btn_dm.href.replace('en/', 'cn/');
        btn_tn.href = btn_tn.href.replace('en/', 'cn/');
        //v1_url.href = '/docs/spot/v1/cn/';
        //v2_url.href = '/docs/spot/v2/cn/';
      }else{
        // for the English Language env.
        lang_btn.innerHTML = '简体中文';
        btn_spot.innerHTML = 'Spot/Margin';
        btn_dm.innerHTML = 'Futures';
        btn_tn.innerHTML = 'Futures testnet API';
        lang_btn.href = url.replace('en/', 'cn/');
        btn_spot.href = btn_spot.href.replace('cn/', 'en/');
        btn_dm.href = btn_dm.href.replace('cn/', 'en/');
        btn_tn.href = btn_tn.href.replace('cn/', 'en/');
        //v1_url.href = '/docs/spot/v1/en/';
        //v2_url.href = '/docs/spot/v2/en/';
      }
      if(location.href.indexOf('apidocs/futures') > 0){
        btn_spot.className = '';
        btn_dm.className = 'current';
        btn_tn.className = '';
      } else if(location.href.indexOf('apidocs/spot') > 0){
        btn_spot.className = 'current';
        btn_dm.className = '';
        btn_tn.className = '';
      } else{
        btn_spot.className = '';
        btn_dm.className = '';
        btn_tn.className = 'current';
      }
      // language botton
      lang_btn.style.display = 'block';
      function GetUrlRelativePath(){
        let url = document.location.toString();
        let arrUrl = url.split("//");
        let start = arrUrl[1].indexOf("/");
        let relUrl = arrUrl[1].substring(start);
        if(relUrl.indexOf("?") != -1){
          relUrl = relUrl.split("?")[0];
        }
        if(relUrl.indexOf("#") != -1){
          relUrl = relUrl.split("#")[0];
        }
        return relUrl;
  　　}
    </script>
  </body>
</html>
